<div class="main-carousel" data-header="navbar_scroll_white">
  <% @projects.each do |project| %>
    <div class="caption carousel-cell">
      <div class="caption-background">
        <% if project[:cover_image]&.image&.attached? %>
            <div class="caption-background" style="background-image: url('<%= url_for(project[:cover_image].image) %>')"></div>
        <% else %>
          <div class="w-full bg-gray-200 flex items-center justify-center">
            <span class="text-gray-400">No cover image</span>
          </div>
        <% end %>
      </div>
      <div class="caption-container">
        <div class="caption-text">
          <p data-aos="fade-right" data-aos-delay="1200" data-aos-duration="1200" data-aos-offset="50" class="caption-title text-4xl"> <%= project[:name] %></p>
          <section data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1200" class="caption-p">
            <p><%= project[:brief] %></p>
          </section>
        </div>

        <button class="loadpage" style="visibility: hidden;" data-project-id="<%= project[:id] %>">
          <span>Read More</span>
          <div class="left"></div>
          <div class="top"></div>
          <div class="right"></div>
          <div class="bottom"></div>
        </button>
      </div>
    </div>
  <% end %>
</div>

<main id="project_contents">
</main>
